

.header {
  display: flex;
  justify-content: flex-end;
  border: 1px;
  box-sizing: border-box;
  border: 1px solid rgb(131, 131, 170);
}

.display-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(131, 131, 170);
  margin-top: 20px;
}